html{
    margin: 0;
    padding: 0;
    background-color:rgb(0, 88, 37);
    color:rgb(255, 255, 255)
}

body{
    width: 80%;
    margin: 10px auto;
   background-image: url("windows_xp_bliss-wide.jpg");
   height: 370px;
}
.limpiar{
    clear: both;
}

header,nav,aside,section,article,footer{
    margin:10px 0;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background:rgba(79, 96, 169, 0.642);
}

nav{
    background: rgb(226, 72, 190);
    width: 49%; 
    float: right;
}

ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
    padding: 4px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}

section{
    float: left;
    width: 50%;
    height: 100px;
    background: rgba(159, 155, 38, 0.804);
}
article{
    margin: 1px auto;
    width: 80%;
}

footer{
    background: rgb(248, 109, 109);
}

aside div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
